body {
    margin: 0;
    padding: 0;
}
.header {
    /* display: flex; */
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: aquamarine;
}
.header div {
    text-align: center;
    line-height: 80px;
}
.nav {
    display: inline-block;
    background-color: aqua;
    width: 100%;
}
.nav li {
    display: inline-block;
}
h2 {
    margin: 0;
    padding: 15px;
}
.main {
    color: white;
    margin: 0 15%;
    background-image: url("../img/bono.jpeg");
    background-size: cover;
    min-height: 300px;
}
.footer {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: green;
}
.footer-content {
    text-align: center;
    line-height: 80px;
}